doctype html 
//- / added in front of the each asset so it starts at the root of the page => relative to root url
html(lang='en')
    head 
        //- Add content to the end or beginning of block
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')

            title Natours | #{title}

            //- links
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png' ) 
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')


    body
        //- Header File content
        include _header

        //- Main Section
        //- basically we are injecting the parent template overview and its content overwrite the content of the block created
        block content
            h1 Placeholder heading
            
        //- Footer file content
        include _footer


        //- Javascript
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js' integrity='sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==' crossorigin='anonymous' referrerpolicy='no-referrer')
        //- script(src='/js/mapbox.js') 
        //- script(src='/js/login.js')
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
        
